<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.scit.dao.InventoryMapper">
	<select id="selectAllInventory" resultType="InventoryVO" parameterType="int">
		SELECT 
    		seq, i.productnum, productname, price, stock
		FROM 
		    inventory_m i, product_m p
		WHERE
		    i.productnum = p.productnum
		    AND p.brandnum = #{brandnum}
	</select>
	<insert id="insertInventory" parameterType="int">
		INSERT INTO inventory_m
			(seq, productnum, stock)
		VALUES
			(inventory_m_seq.nextval, #{productnum}, #{stock})
	</insert>
	<update id="addStock" parameterType="int">
		UPDATE inventory_m 
		SET stock = stock + #{stockCnt}
		WHERE productnum = #{productnum}
	</update>
	<update id="subtractStock" parameterType="int">
		UPDATE inventory_m 
		SET stock = stock - #{stockCnt}
		WHERE productnum = #{productnum}
	</update>
</mapper>

<!-- 
List<InventoryVO> selectAllInventory();
	void addStock(int productnum, int cnt); 
	void subtractStock(int productnum, int cnt); 
 -->