<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.scit.dao.ProductMapper">
	<insert id="insertProduct" parameterType="ProductVO">
		INSERT INTO product_m
		(brandnum, categorynum, productnum, productname, price)
		VALUES
		(#{brandnum}, #{categorynum}, product_m_seq.nextval, #{productname}, #{price})
	</insert>

	<select id="selectAllProduct" resultType="ProductVO">
		SELECT * FROM product_m
	</select>

	<select id="selectOneProduct" parameterType="int"
		resultType="ProductVO">
		SELECT productnum, productname, price
		FROM
		product_m
		WHERE
		productnum = #{productnum}
	</select>

	<update id="updateProduct" parameterType="ProductVO">
		UPDATE product_m
		SET
		productname = #{productname}, price = #{price}
		WHERE productnum = #{productnum}
	</update>


	<delete id="deleteProduct" parameterType="int">
		DELETE FROM product_m
		WHERE productnum = #{productnum}
		
	</delete>
</mapper>

<!--s // C public int insertProduct(ProductVO vo); // R public List<ProductVO> 
	selectAllProduct(); public ProductVO selectOneProduct(int productnum); // 
	U public int updateProduct(ProductVO vo); // D public int deleteProduct(int 
	productnum); -->
