<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.scit.dao.UserMapper">
	<insert id="insertUser" parameterType="UserVO">
		INSERT INTO usr_m
			(usrid, passwd, usrname, address, amount)
		VALUES
			(#{usrid}, #{passwd}, #{usrname}, #{address}, #{amount})
	</insert>
	<select id="selectOneUser" parameterType="String" resultType="UserVO">
		SELECT * FROM usr_m
		WHERE usrid = #{usrid}
	</select>
	<select id="selectAllUser" resultType="UserVO">
		SELECT * FROM usr_m
	</select>
	<update id="updateUserInfo" parameterType="UserVO">
		UPDATE usr_m
		SET
		    usrname = #{usrname},	
		    address = #{address}
		WHERE usrid = #{usrid}
	</update>
	<delete id="deleteUser" parameterType="String">
		DELETE usr_m
		WHERE usrid = #{usrid}
	</delete>
	
	<update id="chargeAmount" parameterType="UserVO">
		UPDATE usr_m
		SET
			amount = #{amount}
		WHERE usrid = #{usrid}
	</update>
</mapper>